.default {
    fill: #B2DFDB;
}
.selected1 {
    fill: red;
}
.selected2 {
    fill: greenyellow;
}
.definitive {
    fill: #D1C4E9;
}
.slider {
    -webkit-appearance: none;
    height: 3px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #d3d3d3;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d3d3d3;
    cursor: pointer;
}

.header-div {
    margin: 15px 15px 0;
    float: left;
}

header {
    background-color: #009688;
    width: auto;
    height: 55px;
    color: white;
}
button {
    border: none;
    background-color: white;
    color: #00796B;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    /*border: 1px solid #000; /* Green */
}
select {
    background-color: white;
    color: #00796B;
    padding-left: 25px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
}
.vl {
    float: left;
    height: 55px;
    border-left: 3px solid #00796B;
}

footer {
    text-align: center;
    color: #009688;
    font-weight: bold;
}